@media(max-width: 767px){
.BlogItem_grid{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 3%;
    text-align: justify;
    margin-top: 50px;
    font-size: 17px;
    border: 1px solid #ccc;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;

}
.BlogItem_grid img{
    width: 100%;
    height: 100%;

}
.BlogItem_grid button{
    border: 1px solid #ccc;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    background-color: white;
    text-align: right;
    color: red;
}
.BlogItem_button{
    text-align: right;
}

.BlogItem_text{
    width: 90%;
    text-indent:20px;
    
}
.BlogItem_text h3{
    height: 60px;
    overflow:hidden;
}
.BlogItem_des{
    text-indent:20px;
    height: 100px;
    overflow:hidden;
}

}
@media(min-width: 768px) and (max-width: 1024px){
    .BlogItem_grid{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 3%;
        text-align: justify;
        margin-top: 50px;
        font-size: 17px;
        border: 1px solid #ccc;
        box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    
    }
    .BlogItem_grid img{
        width: 100%;
        height: 100%;
    
    }
    .BlogItem_grid button{
        border: 1px solid #ccc;
        box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
        background-color: white;
        text-align: right;
        color: red;
    }
    .BlogItem_button{
        text-align: right;
    }
    
    .BlogItem_text{
        width: 90%;
        text-indent:20px;
    }
    .BlogItem_text div{
        text-indent:20px;
    }
}
@media(min-width: 1025px){
    .BlogItem_grid{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 3%;
        text-align: justify;
        margin-top: 50px;
        font-size: 17px;
        border: 1px solid #ccc;
        box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    
    }
    .BlogItem_grid img{
        width: 100%;
        height: 100%;
    
    }
    .BlogItem_grid button{
        border: 1px solid #ccc;
        box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
        background-color: white;
        text-align: right;
        color: red;
    }
    .BlogItem_button{
        text-align: right;
    }
    
    .BlogItem_text{
        width: 90%;
        text-indent:20px;
        /* overflow:hidden; */
    }
    .BlogItem_text div{
        text-indent:20px;
    }
 }