.cartitem_image img {
  width: 100px;
  height: 100px;
}

.cartitem_quantity {
  width: 20%;
}
.cartitem_quantity button {
  border: none;
  width: 30px;
  border-radius: 5px;
}
.cartitem_quantity button:hover {
  background-color: rgba(128, 128, 128, 0.24);
  transition: 0.5s ease;
}

.cartitem_remove button {
  border: none;
  background-color: white;
}
.CartItem_mobile{
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .cartitem_price {
    display: none;
  }
  .cartitem_remove {
    display: none;
  }
  .CartItem_mobile{
    display:grid;
    grid-template-columns: auto auto;
    text-align: center;
    /* border: 1px solid #ccc;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px; */
    margin-bottom: 5px;
  }
  .cartitem_quantity div{
    display: flex;
    
    justify-content: space-evenly;
    /* margin-left: auto;
    margin-right: auto; */

  }
  .cartitem_quantity div div{
    font-weight: 600;
  }
  .cartitem_quantity{
    width: 100%;
  }
  .CartItem_laptop{
    display: none;
  }
  .cartitem_name{
    font-size: 15px;
  }
  .cartitem_price1{
    color:rgb(165, 0, 52);
  }
}
