.CategoryItem_top {
    text-align: center;
    padding: 60px;
    margin-left: 80px;
    margin-right: 80px;
}

.CategoryItem_top p {
    font-size: 25px;
    color: grey;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;

}

/* section promotion*/
.CategoryItem_Section {
    border: red 2px solid;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 40% auto;

    border-radius: 30px;
    max-width: 100%;
    background-image: url('../../public/homeimg/cook2.png');
    background-size: 100% 100%;

}

.CategoryItem_content {
    padding: 10px;
    margin-left: 60px;
    color: white;
    font-size: 20px;
}

.CategoryItem_row ul {
    border: green solid;
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    text-indent: 0%;
padding: 0%;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 80px;
    column-gap: 60px;
    margin-bottom: 0%;
    margin-top: 0%;


}
/* .CategoryItem_row ul li div {
   padding: 0%;
} */


.CategoryItem_row ul li {
    background-color: none;
    padding: 0%;
    max-width: 100%;
    height: 100%;

}


.CategoryItem_card:hover {
    transform: none;
    

}

.CategoryItem_card {
    padding: 0px;
    box-shadow: none;
    background-color: none;
    border: none;
    border: yellow 2px solid;
   
}
.CategoryItem_card .ProductItem{
    padding: 0%;
}

/*button*/
.Category_btn button {
    background-color: white;
    height: 40px;
    color: red;
    /* box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px; */
    font-weight: lighter;
    border: none;
    text-align: center;
    text-decoration: underline red solid;
    font-size: 20px;

}

.Category_btn {
    text-align: right;
    margin-right: 80px;
}

.Category_btn button:hover {
    text-decoration: underline red solid;
    color: rgba(255, 0, 0, 0.511);

}