
    /*top*/
.ContactUs_top div img {
    width: 100%;
    object-fit: fill;
    position: relative;
}

.ContactUs_topcontent {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    text-align: center;
    font-weight: lighter;
    display: flexbox;
    
}

/* contact columns */
.Contact_info {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 100px;
    column-gap: 80px;
    text-align: center;
    height: 250px;

}

.Contact_infoCol, .Contact_infoCol2,  .Contact_infoCol3 {
    border: 2px solid rgb(204, 204, 204);
    border-radius: 50px;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    text-align: center;
    padding: 10px;
 
}

.Contact_infoCol div, .Contact_infoCol2 a,.Contact_infoCol3 a {
   line-height: 30px;
    list-style: none;
    color:black;
    font-weight: lighter;
    text-decoration: none;
    width: 100%;

     
}
.Contact_infoColIcon{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
  
}
.Contact_infoCol2 a{
    line-height: 50px;
}
.Contact_infoCol h4{
font-weight: 500;
}
.Contact_infoCol2:hover a, .Contact_infoCol3:hover a{
color: rgb(158, 5, 53);

}
.Contact_infoCol2:hover, .Contact_infoCol3:hover{
    cursor: pointer;
}

/*map + form*/
.ContactUs_bottom {
    display: grid;
    grid-template-columns: 55% 45%;
    height: min-content;
    margin-left: 100px;
    margin-right: 100px;
}

/* form */
.ContactUs_bottomR {
    max-width: 100%;
    /* border: blue solid; */
    margin-top: none;
    margin-left: 100px;
    line-height: 35px;

}

.ContactUs_bottomR h3 {
    text-align: center;
}

.ContactUs_bottomR ul li {
    list-style: none;
}

.ContactUs_bottomR input {
    width: 100%;
    height: 40px;
    border-radius: 0px 20px 0px 0px;
    border-color: none;
    font-size: 16px;
}

.ContactUs_bottomR textarea {
    border-radius: 0px 20px 0px 0px;
    width: 100%;
}

.ContactUserror {
    font-size: 15px;
    color: red;
}

.ContactUs_bottomR h6 {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 30px;
}

.ContactUslabel {
    font-size: 18px;
    font-weight: 600;
}

.ContactUs_submit button, .Feedback_btn {
    border: none;
    border-radius: 20px;
    background-color: rgb(165, 0, 52);
    padding: 5px 20px 5px 20px;
    color: white;

}
.ContactUs_submit button:hover , .Feedback_btn :hover{
  background-color: #7e0028;

}

.ContactUs_submit {
    text-align: center;
    margin-top: 30px;
}

/*branches */
.ContactUs_branchesimg{
    max-width: 100%;
height: 550px;
}
.ContactUs_branches img {
    width: 100%;
    height: 100%;
}

.ContactUs_branches {
    position: relative;
}

.ContactUs_branches ul {
    position: absolute;
    top: 50px;
    left: 250px;
}

.ContactUs h2 {
    margin: 100px;
    text-align: center;
}

.ContactUs_branches ul li {
    list-style: none;
    color: white;
  
}

.ContactUs_branches_title {
    font-weight: bold;
    font-size: 20px;
}
.ContactUs_branchesbranches li{
  line-height: 30pxs;

}
.ContactUs_branches_add{
text-indent: 40px;
margin-bottom: 5px;
font-size: 18px;
}

/*Feedback */
.Feedback{
    margin:80px 110px 80px 110px;
    line-height: 30px;
   
}
.Feedback form{
    border: 0.5px solid;
    /* background-color: rgb(228, 226, 226) ; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 32px 0px;
}
.Feedback h1{
text-align: center;
}
.Feedback ul {
    margin-left: 200px;
 
}
.Feedback ul li{
   
    list-style: none;
    color: gray;
  
}
.Feedback_Q{
    font-size: 20px;
    color: black;
    margin-top: 40px;
    font-weight: 600px;
}
.Feedback ul .Feedbackerror{
    font-size: 16px;
    color: red;


}
.Feedback h6{
    font-size: 16px;
    font-weight: lighter;
    text-align: right;
    margin-right: 100px;
   }
   .Feedback ul li .Feedbackcustomer,  
   .Feedback ul li textarea{
    width:  80%;
    margin-top: 10px;
   }
.ContactUsdisplay2{
    visibility: hidden;
    display: none;
}

   /* MEDIA tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .ContactUs_topcontent {
         position: absolute;
        top: 22%;
        left: 10%;
        display: flexbox;
            }
  
    .Contact_info{
        grid-template-columns: 33% 33% 33%;
        column-gap: 10px;
        margin-left: 20px;
        margin-right: 30px;
        text-indent: 0%;
        padding: 0%;
    }
    /*map + info */
.ContactUs_bottom {
        margin-left: 50px;
    margin-right: 50px;
}

/* form */
.ContactUs_bottomR {
    margin-left: 50px;
 }
 
 /* bracnhes */
 .ContactUs_branches ul {
    position: absolute;
    top: 5px;
    left: 0px;
    
}
.Feedback ul {
    margin-left: 20px;
    margin-right: 20px;
}
}


/* Phone */
@media (max-width:767px){
    .ContactUs_topcontent{
        left: 3%;
        top:20%;
        font-size: 27px;
        display: flexbox;
    }
    .ContactUs_top img{
        object-fit: scale-down;
        height: 300px;
    }
    .Contact_info{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
              margin-top: 40px;
        height: max-content;
        margin-bottom: 80px;
       
    }
    /*map */
.ContactUs_bottom {
    display: grid;
    grid-template-columns: auto;
    height: max-content;
   margin-right: 0%;
    margin-left: 0%;
   }
   .ContactUs_bottom iframe{
      width: 100%;
    height: 300px;
    border-radius: 20px;

   }

/* form */
.ContactUs_bottomR {
    max-width: 100%;
    /* border: blue solid; */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 100px;
    line-height: 35px;

}
 /* bracnhes */
 .ContactUs_branchesimg {
margin-top: 80px;
height: 300px;
object-fit: cover;
 }
 
.ContactUsdisplay2 {
    visibility: visible;
    display: block;
    position: absolute;
   left:-10%;
   right: -10%;
    top:4%;
    color: white;
    margin-left: 1rem;
    margin: 1rem;
}

 .ContactUs_branches ul {
    position: relative;
    color: black;
   height: max-content;
  margin-top: 0%;
 margin-right: 1rem;
  left: 0;
    
}
.ContactUs_branches ul li{
    color:black;
    font-size: 18px;
}
.ContactUsdisplay1{
    visibility: hidden;
    display: none;
}

.Feedback{
    margin:20px ;
   
}
.Feedback ul{
    margin-left: 1rem;
    margin-right: 1rem;
}
.Feedback ul li{
    font-size: 16px;

}
}