.HomeBody{
margin: 60px 60px 0px 60px;
 
}
.HomeBody_title{
    text-align:center;
    font-size: 30px;
    font-weight: 600;
}
.HomeBody button{
    background-color: white;
    border-radius:20px;
    height: 40px;
    color:red;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    font-weight: 600;
    border: none;
    text-align:center;
    margin-right:0%;
   width: 200px;

}   
.HomeBody button:hover{
    color:rgba(255, 0, 0, 0.501);
}
.HomeBody_btn{
    text-align: right;
}
.HomeBody_content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 100%;
     column-gap: 25px;
    margin-top: 60px;
}
.HomeBody_contentitem {
    /* border: 2px solid; */
    display: grid;
    grid-template-rows: 50% 20% 20% 10%;
     border-radius:20px;
     max-width: 100%;
     box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
   
} 

.HomeBody_contentitem img{
   
    width: 100%;
    height: 100%;
    border-radius:20px;
 
   
}
.HomeBody_contentitemRow1{
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 27px;
    font-weight: 500;
}
.HomeBody_contentitemRow2{
    /* border: 2px blue solid; */
    margin: 0 20px 30px 20px ;
 
   
}


/*home social */
.HomeSocial{
    border-top:rgb(228, 226, 226) 5px solid ;
   
    padding: 60px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 50% auto;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;

}
.HomeSocial_leftInput{
    margin-top: 15px;
 
}
.HomeSocial_leftInput input{
    width: 50%;
 
}
.HomeSocial_leftInput button{
    margin-left:20px;
    border-radius: 8px;
    border:none;
    color: white;
    background-color: red;
}
.HomeSocial_leftInput button:hover{
    background-color:rgba(255, 0, 0, 0.541) ;
    color:white;
}
.HomeSocial_right{
    margin-left:50px;
}
.HomeSocial_right h6{
    border: solid 2px;
    text-align: left;
    font-size:20px;
}
.HomeSocial_right ul {
    padding: 0%;
   display: flex;
   flex-grow: 1;
   gap: 15px;
   font-size: 20px;
}
.HomeSocial_right ul a{
    color:grey;
   
}
.HomeSocial_right ul a:hover{
    font-size: 25px;;
   
}