.LoginPage img {
    object-fit: cover;
    height: 500px;
    position: relative;

}

.LoginContent {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 40%;
    padding: 10px;
    top: 35%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.427);

}

.Login {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 80px;
    border: rgb(228, 226, 226) 2px solid;
    ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    padding: 60px 100px;
}

.Loginleft {
    max-width: 100%;
    line-height: 30px;
    padding-left: 80px;
    padding-right: 100px;
    margin-bottom: 60px;

}

.Login h6 {
    font-size: 15px;
    font-weight: lighter;
}

.LoginError {
    color: rgb(158, 11, 11);
    text-align: center;
    font-size: 16px;
}

.LoginleftLabel,
.LoginlefPass {
    font-weight: 600;
    font-size: 18px;
}

.LoginlefPass {
    text-align: center;
    margin-top: 30px;
    cursor: pointer;

}

.LoginlefPass:hover {
    color: rgb(158, 11, 11);

}

.LoginleftInput,
.LoginleftBottom {
    height: 30px;
    width: 100%;
    font-size: 16px;
}

.LoginleftBottom,
.Loginbottom-btn {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.Login-btn,.NotFoundcontent button,
.Loginright-btn {
    background-color: #a50034;
    color: white;
    font-weight: 500;
    border: none;
    width: 100%;
    margin: 30px 0px 30px 0px;
    height: max-content;
    text-align: center;
}

.Loginright-btn a {
    color: white;
    text-decoration: none;
}


.Loginright {
    max-width: 100%;
    line-height: 30px;
    padding-right: 80px;
    padding-left: 100px;
    border-left: rgb(228, 226, 226) 2px solid;

}

.Loginright ul li {
    font-weight: lighter;
    font-size: 18px;
}

.Login-btn:hover {
    color: rgba(255, 255, 255, 0.796);
}

.Loginright-btn:hover,
.Login-btn:hover {
    background-color: #a50034cf;


}

/*email data */
.EmailData {
    padding: 60px;
    text-align: center;
}
.EmailData h4{
    color: rgb(217, 64, 115);
    text-align: left;
 
}
.EmailData h6{
   font-weight: normal;
    text-align: left;
 
}
/*Not Found Page*/
.NotFoundimg {
max-width: 100%;
position: relative;
}
.NotFoundimg img{
width: 100%;
height: 600px;
}

.NotFoundcontent{
    position: absolute;
    top:20%;
    right:20%;
    width: 300px;
    height: 300px;
    padding: 30px;
    background-color: white;
    font-size: 20px;
   
}
.NotFoundcontent h3{
    text-align: center;
}
.NotFoundimg:hover{
    cursor: pointer;
}
.NotFoundimg div img{
    display: none;
}
/***********TABLET******/

/* MEDIA tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .Logintop{
        position: relative;
    
    }
    .LoginContent {
        position: absolute;
      top:100px;
      }

    .Login {
        display: grid;
        grid-template-columns: auto;
        row-gap: 50px;
        border-radius: 60px;
             padding:30px;

    }
    .Loginleft{
        margin-top: 60px;
      
    }

    .Loginright {
        border-left: none;
        padding-left: 70px;
        padding-right: 120px;
        margin-bottom: 60px;
    }
    /* notfound*/
    .NotFoundcontent{
        right:15%;
        width: 250px;
        height: min-content;
        padding: 20px;
        
    }
    .NotFoundimg {
       position: relative;
    }
}

/* MEDIA phone*/
@media(max-width: 767px) {
    .LoginContent {
        top: 30%;
        left: 10px;
        width: 95%;
        padding: 10px;
        font-size: 18px;
        display: flexbox;
    }

    .Login {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 80px 50px;
        padding: 0%;
        row-gap: 30px;
        text-indent: 0%;
        border: none;
        box-shadow: none;

    }

    .Loginleft {

        padding: 30px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px 0px;

    }

    .Loginright {

        padding: 30px;
        border-left: none;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px 0px;
    }
    
        /* notfound*/
    .NotFoundcontent{
              position: static;
           margin-right: 5px;
        width: 300px;
        height: min-content;
        padding: 20px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }
    .NotFoundimg .img{
        display: none;
    }
  
    .NotFoundimg div img {
        display: unset;
      width: 100%;
      height: 100%;
    }

}

/****LAPTOP */
@media only screen and (min-width: 1025px) and (max-width: 1210px){
    .Logintop{
        position: relative;
    
    }
    .LoginContent {
        position: absolute;
      top:130px;
      }
      .Login {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 80px;
        border: rgb(228, 226, 226) 2px solid;
        ;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
        padding: 60px 60px;
    }
      .Loginleft {
        max-width: 100%;
        line-height: 30px;
        padding-left: 0px;
        padding-right: 60px;
        margin-bottom: 60px;
    
    }
    .Loginright {
        border-left: rgb(228, 226, 226) 2px solid;

        padding-left: 60px;
        padding-right: 0px;
       
    }
    /* notfound*/
    .NotFoundcontent{
        right:15%;
        width: 250px;
        height: min-content;
        padding: 20px;
        
    }
    .NotFoundimg {
       position: relative;
    }
}