.LoginPage img{
 object-fit: cover;
 height: 500px;
}
.LoginContent{
    position: absolute;
    color:white;
    width: fit-content;
    font-size: 20px;
    top:35%;
    left:30%;
    width: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.427);
    
}

.Login{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 80px;
    border: rgb(228, 226, 226) 2px solid ; ;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 0px 40px 0px;
    padding: 60px 100px;
}
.Loginleft{
 max-width: 100%;
 line-height: 30px;
padding-left: 80px;
padding-right: 100px;
margin-bottom: 60px;

}
.Login h6{
 font-size: 15px;
 font-weight: lighter;
}
.LoginError{
color: rgb(158, 11, 11);
text-align: center;
font-size: 16px;
}
.LoginleftLabel, .LoginlefPass{
    font-weight: 600;
    font-size: 18px;
}
.LoginlefPass{
    text-align: center;
    margin-top: 30px;
   cursor: pointer;

}
.LoginlefPass:hover{
color: rgb(158, 11, 11);

}
.LoginleftInput, .LoginleftBottom{
    height: 30px;
    width: 100%;
    font-size: 16px;
}
.LoginleftBottom, .Loginbottom-btn {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.Login-btn, .Loginright-btn{ 
    background-color: #a50034;
    color: white;
    font-weight: 500;
    border: none;
    width: 100%;
    margin: 30px 0px 30px 0px;
    height: fit-content;
    text-align: center;
}

.Loginright-btn a{
   color:white;
   text-decoration: none;
}


.Loginright{
    max-width: 100%;
    line-height: 30px;
    padding-right: 80px;
   padding-left: 100px;
 border-left:  rgb(228, 226, 226) 2px solid ;
    
}

.Loginright ul li{
  font-weight: lighter;
  font-size: 18px;
}
.Login-btn:hover{
   color:rgba(255, 255, 255, 0.796);
}
.Loginright-btn:hover, .Login-btn:hover{
    background-color:#a50034cf;


}

/*email data */
.EmailData{
    padding: 60px;
    text-align: center;
}