.form-group {
  width: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto auto;
  margin-bottom: 1px;
}
.payment_field_input {
  max-width: 100%;
}
.payment {
  margin-top: 5%;
}
.payment_form {
  margin-top: 5%;
}
.payment_button_wrap {
  margin-top: 5%;
}
.btn_checkout {
  width: 300px;
  margin: auto auto;
  height: 50px;
  background-color: #a50034;
  color: white;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn_checkout:hover {
  background-color: #7a0027;
  transition: 0.35s ease;
}

.payment_error {
  color: red;
  font-size: 15px;
}
.payment_button_close {
  border: none;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
}
.cartitem_quantity_res {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form-group {
    width: 100%;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 767px) {
  .form-group {
    width: 100%;
    grid-template-columns: 100%;
  }
  .cartitem_quantity_res {
    display: block;
  }
  .cartitem_quantity_res2 {
    display: none;
  }
}
