.form-group {
  width: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto auto;
  margin-bottom: 1px;
}
.payment {
  margin-top: 5%;
}

.btn_checkout {
  margin: auto auto;
  margin-top: 5%;
  margin-left: 28%;
  width: 500px;
  height: 50px;
  background-color: #a50034;
  color: white;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn_checkout:hover {
  background-color: #7a0027;
  transition: 0.35s ease;
}
.payment_form {
  margin-top: 5%;
  text-align: start;
}
.payment_error {
  color: red;
  font-size: 15px;
}
.payment_button_close {
  border: none;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
}
