.ProductDetail_grid1{
    display: grid;
    grid-template-columns: 10% repeat(2, 40%);
    /* height: 300px; */
}
.ProductDetail_img1 div img{
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
.ProductDetail_img1{
    overflow: scroll;
    height: 400px;
}
.ProductDetail_img2{
    overflow: scroll;
    /* width: 100%; */
    height: 400px;
}
.ProductDetail_img2 div img{
    width: 100%;
    /* height: 100px; */
    margin-top: 5px;
}
.ProductDetail_name{
    font-size: 40px;
    height: 120px;
    
}
.ProductDetail_price{
 color: red;
}
.ProductDetail  div a{
    text-decoration: none;
    color: black;
    margin: 20px;
    margin-bottom: 70px;
}
.ProductDetail{
    margin: 30px 50px 50px 50px;
}
.ProductDetail_div1{
    margin-bottom: 30px;
}
.ProductDetail_qty1{
    display: flex;
    justify-content: space-between;
}
.ProductDetail_qty2{
    display: flex;
    justify-content: space-between;
    width: 150px;
    border: solid;
}
.ProductDetail_qty2 button {
    border: none;
    width: 40px;
    height: 40px;
}
.ProductDetail_qty2 div{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.ProductDetail_submit1{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: none;
}
.ProductDetail_submit1:hover{
    background-color: green;
    color: aliceblue;
    border: none;
}
.ProductDetail_like{
    color:#339999;
}