.productitem_card {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 500px;
}
.productitem_card_body img {
  width: 100%;
  height: 200px;
}
.productitem_card_body {
  padding: 30px;
}
.productitem_card_body_content {
  height: 150px;
  padding-top: 25px;
  display: grid;
  grid-template-rows: 100px 20px 20px;
}

.btn_detail {
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.btn_detail:hover {
  color: rgb(252, 252, 252);
  background-color: #1b8a49;
  transition: 0.35s ease;
}
.btn_addcart {
  margin-left: 30px;

  border-style: none;
  text-decoration: none;
  background-color: transparent;
}
.icon_addcart {
  color: #27ae60;
  font-size: 30px;
}
.icon_addcart:hover {
  color: #1b8a49;
}

.productitem :hover.productitem_card {
  transform: translateY(-15px) scale(1.005) translateZ(0);
  transition: 0.35s ease;
}
