.Promotion_top {
  margin: 60px;
}
.Promotion_top h1 {
  text-align: center;
}

.Promotion_top div {
  margin-left: 300px;
  margin-right: 300px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

}
.Promotion_top h6{
  text-align: right;
  margin-right: 30px;
}

.Promotion_top .btn {
  border: none;
  color:white;
    text-align: right;
    font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 32px 0px;
  background-color: red;
  border-radius: 20px;
 
  }



/* 3 section box category*/
.PromotionSec1 {
  display: grid;
   grid-template-columns: auto auto;
  text-indent: 0%;
  margin-bottom: 100px;
 background-image: url(../../public/homeimg/cook2.png) ; 
 background-size: 100% 100%;
  max-width: 100%;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 32px 0px;
border-radius: 30px;
 }
 .PromotionSec1_left  {
  margin: auto 60px auto 60px;
  color:white;
  font-size: 20px;
}

.PromotionSec1_right ul {

display: grid;
grid-template-columns: auto auto;
padding: 0%;
text-indent: 0%;
max-width: 100%;
column-gap:60px;
margin:30px 60px;

}
.PromotionSec1_right ul li{
  list-style: none;
}

/* product item */
.PromotionItem {
 
  display: grid;
  grid-template-rows: 60% auto 10% 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 50px 0px;
  border-radius: 50px;
  width: 100%;
 height: 100%;
  padding: 20px;
  text-align: center;
  row-gap: 10px;
  font-size: 17px;
 
}
.PromotionItem img {
   width: 100%;
  height: 100%;
  border-radius: 10px;
  
}
.productitem_name h6{
  font-size: 17px;
}
.productitem_price {
  display: flex;
  flex-grow: 1;
 margin-left: auto;
 margin-right: auto;

  gap: 10px;
}
.productitem_price h5{
  font-weight: bold;
  color: red;
  margin-top: auto;
  margin-bottom: auto;

}
.productitem_price h6{
  text-decoration: line-through rgba(0, 0, 0, 0.329);
  font-size: medium;
  font-weight: normal;
   margin-top: auto;
  margin-bottom: auto;
  

}

/* button */
.productitem_bottom{

height:100%;
display: grid;
grid-template-columns: 50% 50%;
text-align: center;
margin: 0px 20px 50px 20px;
}

.btn_add{
  margin-right: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
}
.btn_add:hover , .Promotion_btn:hover, .Promotion_top .btn:hover{
  color: rgb(255, 255, 255);
  background-color: #7a0027;
  transition: 0.35s ease;
}
.btn_details{
  color: black;
  background-color: #ffffff;
  line-height: 30px;
  border: none;
}
.btn_details:hover{
  color: rgba(0, 0, 0, 0.381);
  transition: 0.35s ease;
}


.Promotion h4{
  font-size: 40px;
 text-align: center;
}


/*  last */
.PromotionLast{

  display: grid;
  grid-template-columns:50% 50%;
  margin-top: 60px;
  background-image: url('../../public/homeimg/fridgehome.png');
  background-size: 100% 100%;
  max-width: 100%;
  border-radius: 30px;
}
.PromotionLastItem {
 
  display: grid;
  grid-template-rows: 25% 70%;
  row-gap: 30px;
   padding: 0%;
  text-indent: 0%;
  color:black;
  text-align: left;
  max-width: 100%;
  margin:60px;
  font-size: 20px;
 
}
.PromotionLast_itemtop{
  margin-left: 10px;
  color: white;
}

.PromotionLast_itembottom ul{
  
  display: grid;
  grid-template-columns: auto auto;
  padding: 0%;
  text-indent: 0%;
  column-gap:20px;
 width: 100%;
 height: 100%;
 
}
.PromotionLast_itembottom ul li{
  list-style: none;
 height: 100%;
  
}
.Promotion_btn{
  border: none;
  background-color:rgba(255, 0, 0, 0.705);
  color: white;
  font-size: 20px;
  font-weight:500;
  border-radius: 20px;
  width: 150px;
}
/* .Promotion{
  background-color: #f0ece4;
} */